@page "/"

@namespace EliteHelper.Pages

@using System.Collections.Generic
@using System.Net.Http
@using EliteHelper
@using EliteHelper.Shared 

@inject HttpClient httpClient


Let's hook up to the Elite Dangerous Player Journal.

Journals: @(journals.Count)
@foreach(var journal in journals)
{
    <p>
        <span>Journal: </span>
        <span>@(journal.Filename) </span>
        <span>@(journal.DisplayName) </span>
    </p>
}
